<div class="row">
  <div class="col-md-3">
    <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>

    <div id="appointment-reasons">
      <p>Motifs de consultation :</p>
      <div class="fc-event">Pansement</div>
      <div class="fc-event">Prise de sang</div>
      <div class="fc-event">Injection</div>
      <div class="fc-event">Event 1</div>
      <div class="fc-event">Event 1</div>
      <div class="fc-event">Event 1</div>
      <div class="fc-event">Event 1</div>
    </div>
  </div>
  <div class="col-md-9">
    <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
  </div>
</div>

<script>
  $('#appointment-reasons .fc-event').each(function() {

    // store data so the calendar knows to render an event upon drop
    $(this).data('event', {
      title: $.trim($(this).text()), // use the element's text as the event title
      stick: true // maintain when user navigates (see docs on the renderEvent method)
    });

    // make the event draggable using jQuery UI
    $(this).draggable({
      zIndex: 999,
      revert: true,      // will cause the event to go back to its
      revertDuration: 0  //  original position after the drag
    });
  });

</script>
