<form name="eventForm" role="form" novalidate>
  <div class="row">
    <div class="col-md-6">
      <h2>Modifier la consultation</h2>
    </div>
    <div id="event-type" class="col-md-6 text-center">
      <input type="radio" ng-model="event.type" value="atHome"> Domicile
      <input type="radio" ng-model="event.type" value="office" style="margin-left: 20px;"> Cabinet
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button type="button" id="patient-search-btn" class="btn btn-primary">Rechercher un patient existant</button>
    </div>
  </div>


  <div class="row">

    <!-- Patient section -->

    <div class="col-md-8">

      <div class="row">
        <div class="col-md-6">
          <input type="text" ng-model="patient.lastName" class="form-control" placeholder="Nom">
        </div>
        <div class="col-md-6">
          <input type="text" ng-model="patient.firstName" class="form-control" placeholder="Prénom">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <input type="date" ng-model="patient.birthDate" class="form-control" placeholder="Date de naissance">
        </div>
        <div class="col-md-6">
          <input type="text" ng-model="patient.phoneNumber" class="form-control" placeholder="Téléphone">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <input type="email" ng-model="patient.email" class="form-control" placeholder="E-mail">
        </div>
      </div>

      <h4>Adresse</h4>

      <div class="row">
        <div class="col-md-12">
          <input type="text" ng-model="patient.address" class="form-control" placeholder="Adresse">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <input type="text" ng-model="patient.locationNote" class="form-control" placeholder="Informations d'accès">
        </div>
      </div>

    </div>

    <!-- Event section -->

    <div class="col-md-4">

      <h4>Consultation</h4>

      <div class="row">
        <div class="col-md-12">
          <select ng-model="event.reason" class="form-control">
            <option value="pansement">Pansement</option>
            <option value="prise de sang">Prise de sang</option>
            <option value="injection">Injection</option>
          </select>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-success">Valider</button>
    </div>
  </div>
</form>
